:root{
    font-size: 10px;
    --main-color : rgb(152, 150, 146);
    
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: white;
}

body{
    background-image: url(images/kai-pilger-Ef6iL87-vOA-unsplash.jpg);
    
}

.bckImg{
    height: 100vh;
    display: flex;

}
.main{
    text-align: center;
    font-size: 3rem;

    border: .2rem solid white;
    padding: 1rem;
    border-radius: 1rem ;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 50%;
    height: 25%;
    margin: auto;
    
}
.display{
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr ;
    
}



.form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}


.form>*{
    width: 75%;
    height: 50%;
    place-self: center;
}
button{
    color: white;
    background-color: cadetblue;
    border: .1rem solid white;
    border-radius: 1rem ;
}
input{
    color: black;
}