.form-control:focus {
    box-shadow: none;
    border-color: var(--blue-color)
}

.profile-button {
    background:var(--blue-color);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background-color: white;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}

.profile-button:focus {
    background: white;
    box-shadow: none
}
.pr

.back:hover {
    color: var(--blue-color);
    cursor: pointer
}

.labels {
    font-size: 11px
}





.profile-img{
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.profile-img-upload{
    margin-top: 1rem;
    width: 5rem;
    height: 2.5rem;
    font-size: 16px;
    color: var(--main-color);
}




.custom-file-input {
    color: transparent;
    display: flex;
    margin: 1rem  auto 0;
    width: 50%;

  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {

    text-align: center;
    content: 'Pick Image';
    color: var(--main-color);
    display: inline-block;
    background:white;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: var(--blue-color);
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
  #img-upload{
    width: 50%;
    height: 75%;

  }

  .personal-information{
    background: var(--blue-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-radius: 5px;

  }
  
  .personal-information h1 , .personal-information h5{
    border-radius: 5px;
    padding: 0.2rem;
    background-color: white;
    color: var(--blue-color);
  }

  .personal-information h6{
    color: var(--main-color);
  }

  .personal-information h1{
    text-align: center;
    margin: 10px;
  }

  #profile-message{
    display: none;
    text-align: center;
    background-color: var(--f-message);
    border-radius: 5px;
    color: white;
    border: var(--f-border) ;
    margin-bottom: 1rem;
  }
