




.cart-shop-toggle div{
    text-align: center;
    padding: 0.5rem;
    font-size: 24px;
    cursor: pointer;
    margin: 1rem;
    color: white;
    background-color: var(--blue-color);
    border-radius: 10px ;
    width: 100px;
}


.cart-shop-toggle div:active{
    color: var(--blue-color);
    background-color: white;
    border: 1px solid var(--blue-color);

}


.search-wrapper{
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
#search-bar{
    outline: none;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--main-color);
    padding: 15px 5px;
}

#seach-bar:focus{
    border-bottom: 5px solid var(--main-color);
}

#search-bar-button{
    height: 3rem;
}


.shop-items{
    margin: 5rem    auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


a, i{
    text-decoration: none;
}

.content h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;

}
.gallery{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    display: grid;
    width: 20%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rbga(0,0,0,0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background: #f2f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.content img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.content p{

    height: 80px;
    text-align: center;
    color: var(--blue-color);
    padding-top:0 8px ;
}

.content h6{
    font-size: 26px;
    text-align: center;
    color: var(--main-color);
    margin: 0;
}

.content ul{
    list-style: none;

}

.content ul li{
    padding-top: 5px;
}

.content button{

    font-size: 24px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.content button:hover{
    box-shadow: inset 1800px 0 0 0 white;
    border-bottom: 2px solid var(--main-color);

}


.card-hide{
    display: none;
}


.shop-main.toggle{
    display: none;
}


@media (max-width: 1000px) {
    .content{
        width: 50%;
    }
    
}

@media (min-width: 450px) {
    .content{
        width: 100%;
    }
    
}

/* SHOPPING CART STYLES */
.main-cart-body{
    width: 90%;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(250px 1fr)) ;

}


.cart-main.toggle{
    display: none;
}


.cart-item-img{
    width: 250px;
    height: 250px;
    object-fit: contain;

}

.cart-item{
    background-color: rgba(128, 128, 128, 0.168);
    border-radius: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
}


#item-amount{
    width: 100px;
    font-size: 20px;
    text-align: center;
}


input[type="number"]{

    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    background-color: #ffffff;
    color:var(--main-color);
}

.item-remove{
    padding:0.1rem ;
    height: 40px;
    width: 100px;
    font-size: 20px;
}

.item-info{
    display: grid;
    grid-template-rows:repeat(3,1fr) ;
    gap: 1rem;

}

@media (max-width:830px) {
    .cart-item{
        display: flex;
        flex-direction: column;
    }
}


