:root{
    --f-message:rgba(195, 0, 0, 0.602);
    --f-border:1px solid rgb(133, 0, 0);
    --s-message:rgba(0, 195, 0, 0.602);
    --s-border:1px solid rgb(0, 133, 0);
    --main-color:#212529;
    --blue-color:#777696;
    --card-color:#FEF5DF;
}
*,ul,li,ol{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;


}

img{
    height: 100%;
    width: 100%;
}


button{
    cursor: pointer ;
    height: 4rem;
    width: 12rem;
    font: bold;
    font-size: 2rem;
    border: 0.1rem  solid;
    color:white ;
    background-color: var(--main-color);
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
button:hover{
    box-shadow: inset 400px 0 0 0 white;
    color: var(--main-color);
}


header{
    position: -webkit-sticky;
    position: sticky ;
    top: 0;
    color: white;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.4rem;
    z-index: 1;
    
}

header > a:hover {
    box-shadow: none;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav   a{
    margin-right:1.5rem;
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0.1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 200px 0 0 0 white;
    color: var(--main-color);
  }


  .log-out{
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    
}

.form-header{
    color: var(--main-color);
}


@media(max-width:700px){
    header{
        display: grid;
        text-align: center;
        justify-content: center;
    }
    
    

}

.profile-img-link:hover{
    box-shadow: none;
    
 }
  .profile-img-header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }

  .profile-img-header:hover{
    border-radius: 0;
  }

  