

main{

    background-color: var(--main-color);
    
}

.about-section{
    background-color: white;
    color: var(--main-color);
}

.banner-text{
    font-size: 2rem;
    min-height: 100vh;
    padding: 8rem 0 5rem 5rem;
    background-color:var(--main-color);
    color: white;
    display: flex;
    
}
.banner-span-text{
    color: var(--main-color);
    background-color: white;
}
.banner-text-div{

    max-width: 50rem ;
}

#frstbtn{
    margin-top: 2rem;
    height: 4rem;
    width: 15rem;
}


#imgToshiba{
    min-width: 50vw ;
    padding-left: 10rem;
    
}
.aos{

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.aos-text{
    text-align: center;

    padding: 1rem;
    color: var(--main-color);
    background-color: white;
    
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}





footer{

    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--main-color);
}

.contacts > div  h3::after {
    background-color:var(--blue-color);
    width: 45px;
    height: 4px;
    content: "";
    margin: 0;
    display: block;
    position: relative;
    top: 7px;

}

.contacts{
    width: 95%;
    margin-left: auto;
    padding: 1rem;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;


}

.contacts a{
    
    margin: 0.5rem -.25rem;
    padding: 0.1rem;
}



.contacts p, .contacts ul, .contacts a, .contacts pre{
    color: gray ;
}

.contacts ul li{
    padding: 0.25rem;
}

.contact-copy{
color: white;
text-align: center  ;
}



.footer-button{
    margin-top: 0.5rem;
    width: 4rem;
    font-size: 16px;
    height: 2rem;
}


@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}


@media (max-width:1000px) {
    .banner-text{
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 1rem 0 0 0;
        justify-items: center;
        align-items: center;
    }
    .banner-text-div{
        margin-top: 4rem;
    }
    #imgToshiba{
        max-width: 50rem;
        padding: 0;
        margin-top: 2rem;
    }
}

