

header{
    position: absolute;
    top: 1%;
    font-size: 1.5vw;
    background-color: white;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(../image/lorenzo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

button{
    margin: 1rem;
}


input{
    width: 45vw ;
    height: 5vh;
    border: 0.1rem solid var(--main-color);

}


input:valid{
    border: 0.2rem solid green;
}

a{
    
    background-color: var(--main-color);
    color: white;
}


.tech-img{
    height: 100vh;
    max-width: 100vw;
}
.formSign{
    border: 0.1rem solid white;
    width: 50%;
    text-align: center;
    background-color: white;

    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actualForm{

    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
}


@media (max-width: 500px) {

    .formSign{
        width: 75vw;
    }
    
}