:root{
    font-size: 10px;
}
*{
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    --main-color: #282A35 ;
    color: white;
}


button{
    height: 5rem;
    width: 15rem;
    font: bold;
    font-size: 2.5rem;
    border: 0.1rem  solid;
    color:white ;
    background-color: var(--main-color);
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
button:hover{
    box-shadow: inset 300px 0 0 0 white;
    color: var(--main-color);
}


header{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    padding-right: 5rem;
}

nav >  a{
    margin: 1.5rem;
}

a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: var(--main-color);
  }


@media(max-width:654px){
    header{
        display: grid;
        text-align: center;
        justify-content: center;
    }
    
    

}




.banner-text{
    font-size: 2.5rem;
    
    padding: 8rem 0 5rem 5rem;
    background-color:var(--main-color);
    color: white;
    display: flex;
    
}
.banner-span-text{
    color: var(--main-color);
    background-color: white;
}
.banner-text-div{
    margin-left: 3rem;
    max-width: 40rem ;
}

#frstbtn{
    margin-top: 2rem;
    height: 5rem;
    width: 25rem;
}


#imgToshiba{
    min-width: 50vw;
    padding-left: 10rem;
    
}
@media (max-width:718px) {
    .banner-text{
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 1rem 0 0 0;
        
    }
    .banner-text-div{
        margin-top: 4rem;
    }
    #imgToshiba{
        max-width: 50rem;
        padding: 0;
        margin-top: 2rem;
    }
}







.products-header{
    padding-top: 1.5rem; 
    font-size: 5rem;
    text-align: center;
    color: var(--main-color);
    font-weight: bolder;
    margin-bottom: 10rem;
}

.product-imgs{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));;
    justify-items: center;
    margin-bottom: 20rem;
    gap: 1rem ;
    
    
}

.laptop-image{
    width: 90%;
    height: 25rem;
    transition: 0.3s ease-in-out;
    border: .1rem solid var(--main-color);
    padding: .5rem;
}
.imgs img:hover{
    transform: scale(1.2) ;
    background-color:  var(--main-color);
}





.about-section{
    text-align: center; 
    background-color: var(--main-color);
    color: white;

}
.aboot{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    color: var(--main-color);
    font-weight: bolder;
}
.logo2{
    display: flex;
    
}
.logo3{
    margin: auto;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    letter-spacing: 5px;
}